<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54184214013-83ivgge5osftma22svgrifmrugbmt242.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54184214013-83ivgge5osftma22svgrifmrugbmt242</string>
	<key>API_KEY</key>
	<string>AIzaSyA2c14Ldvci3mL3PvhTvOspi6Drlo-6V2M</string>
	<key>GCM_SENDER_ID</key>
	<string>54184214013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lyforum.lyforum</string>
	<key>PROJECT_ID</key>
	<string>lyforum</string>
	<key>STORAGE_BUCKET</key>
	<string>lyforum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54184214013:ios:7bcab79a667afdd647ad94</string>
</dict>
</plist>